/* Imported Google Font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* Common Styles */
body {
    font-family: 'Crimson Text', serif;
}

/* Single Course */
.single-course{
    max-width: 49%;
    margin-right: 8px;
}
.single-course-card{
    align-items: center;
}

/* Responsive Styles */
 @media (max-width: 576px) {
    /* Slider */
    .carousel-text {
            top: 0;
        }
     /* Course */
    .single-course{
        max-width: 100%;
    }
    /* Partner */
    .partner {
        display: none;
    }
 }
 @media (min-width: 577px) and (max-width:992px){
    /* Course */
     .single-course {
         max-width: 100%;
     }
    /* Partner */
     .partner{
        display: none;
     }
 }